{{ $imgSrc := "" }}

{{ $imgURL := urls.Parse .Destination }}	

{{/* do not touch URL start with a Scheme like `http` or absolute PATH URL */}}
{{/* for absolute PATH, absURL will convert it to absolute URL */}}
{{ if or (ne $imgURL.Scheme "") (strings.HasPrefix .Destination "/") }}
    {{ $imgSrc = .Destination | absURL | safeURL }}
{{ else }}
    {{ if eq "index.md" .Page.File.LogicalName }}
        {{ $imgSrc = printf "%s/%s" .Page.File.Dir .Destination | absURL | safeURL }}
    {{ end }}
{{ end }}

<a class="post-img-lb" href="{{ $imgSrc }}" data-caption="{{ .Text }}">
    <img src="{{ $imgSrc }}" alt="{{ .Text }}" {{ with .Title}} title="{{ . }}"{{ end }} />
</a>